/* .checkbox-component {
  display: flex;
  align-items: center;
}

.checkbox-component__input {
  background: #0880AE;
  width: 24px;
  height: 24px;
}

.checkbox-component__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #756F86;

  display: inline-block;

  margin: auto;
} */

input {
  background: #0880AE;
  width: 24px;
  height: 24px;

  position: relative;
  left: 0px;

  vertical-align: middle;
}

label {  
  position: relative;
  left: 10px;

  display: inline-block;
  vertical-align: middle;
}