.checkbox-component__input {
  background: #0880AE;
  width: 24px;
  height: 24px;

  position: relative;
  left: 0px;

  vertical-align: middle;
}

.checkbox-component__label {  
  position: relative;
  left: 10px;

  display: inline-block;
  vertical-align: middle;
}